.footer {
    border-top: 1px solid #e2e8f0;
    padding: 16px;
    text-align: center;
    font-size: 14px;
    color: #718096;
    margin-top: 10px;
}

.home-container {
    min-height: 100vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

.home-content {
    flex-grow: 1;
}